<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="member.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form method="post" action="/member">
      <label>Want to become a premium member??</label>
      <label>Enter the secret password</label>
      <input name="spword" id="spword" required />
      <input value="submit" type="submit" />
    </form>
  </body>
</html>
