<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up-Form</title>
  </head>
  <body>
    <form>
      <label>type your first name</label>
      <input name="fname" id="uname" />
      <label>type your last name</label>
      <input name="lname" id="lname" />
      <label>type your e-mail Id</label>
      <input name="emailName" id="emailName" />
      <label>type your password</label>
      <input name="pword" id="pword" />
      <label>Confirm Your password</label>
      <input name="cpword" id="cpword" />
    </form>
  </body>
</html>
